@page
@model IndexModel
@{
    ViewData["Title"] = "Sherwin's";

}

<div class="m-2 h-full">
    <div class="text-center space-y-50">
        <partial name="_Countdown" />
        <partial name="_LyricsContainer" />
    </div>
</div>


<script src="~/js/countdown.js"></script>
<script src="~/js/displayLyrics.js"></script>