<div class="flex justify-center text-5xl gap-4 mt-30">
    <div class="rounded-lg p-2 bg-black text-[#D9D9D9] opacity-40 flex-1">
        <h1 class="countdownClock" id="days"></h1>
        <h4 class="text-base">Days</h4>
    </div>
    <div class="rounded-lg p-2 bg-black text-[#D9D9D9] opacity-40 flex-1">
        <h1 class="countdownClock" id="hours"></h1>
        <h4 class="text-base">Hours</h4>
    </div>
    <div class="rounded-lg p-2 bg-black text-[#D9D9D9] opacity-40 flex-1">
        <h1 class="countdownClock" id="minutes"></h1>
        <h4 class="text-base">Minutes</h4>
    </div>
    <div class="rounded-lg p-2 bg-black text-[#D9D9D9] opacity-40 flex-1">
        <h1 class="countdownClock" id="seconds"></h1>
        <h4 class="text-base">Seconds</h4>
    </div>
</div>

